USE [GreyGym]
GO
/****** Object:  Table [dbo].[Amount]    Script Date: 1/24/2026 9:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PackageId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Method] [nvarchar](500) NOT NULL,
	[PaymentStatus] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Amount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DietPlan]    Script Date: 1/24/2026 9:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DietPlan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TrainerID] [int] NULL,
	[CurrentWeight] [int] NULL,
	[TargetWeight] [int] NULL,
	[Goal] [nvarchar](500) NULL,
	[FoodPlan] [nvarchar](max) NULL,
	[StartDate] [date] NULL,
 CONSTRAINT [PK_DietPlan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GymEquipment]    Script Date: 1/24/2026 9:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GymEquipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ename] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](150) NOT NULL,
	[Quantity] [int] NOT NULL,
	[PurchaseDate] [date] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_GymEqipment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentReport]    Script Date: 1/24/2026 9:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Reporter] [nvarchar](500) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Incident] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_IncidentReport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 1/24/2026 9:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](500) NOT NULL,
	[Duration] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Description] [nvarchar](800) NOT NULL,
 CONSTRAINT [PK_Package] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainerUser]    Script Date: 1/24/2026 9:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainerUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TrainerID] [int] NULL,
	[PackID] [int] NOT NULL,
	[DietID] [int] NULL,
	[WorkOutID] [int] NULL,
	[AssignDate] [date] NULL,
 CONSTRAINT [PK_TrainerUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 1/24/2026 9:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Gmail] [nvarchar](500) NOT NULL,
	[Phone] [int] NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[Gender] [nvarchar](250) NOT NULL,
	[UserType] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPackage]    Script Date: 1/24/2026 9:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPackage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PackId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsActive] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserPackage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkoutPlan]    Script Date: 1/24/2026 9:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutPlan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](500) NOT NULL,
	[Workout] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_WorkoutPlan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Amount]  WITH CHECK ADD  CONSTRAINT [FK_Amount_UserInfo] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([ID])
GO
ALTER TABLE [dbo].[Amount] CHECK CONSTRAINT [FK_Amount_UserInfo]
GO
ALTER TABLE [dbo].[Amount]  WITH CHECK ADD  CONSTRAINT [FK_Amount_UserInfo1] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([ID])
GO
ALTER TABLE [dbo].[Amount] CHECK CONSTRAINT [FK_Amount_UserInfo1]
GO
ALTER TABLE [dbo].[DietPlan]  WITH CHECK ADD  CONSTRAINT [FK_DietPlan_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([ID])
GO
ALTER TABLE [dbo].[DietPlan] CHECK CONSTRAINT [FK_DietPlan_UserInfo]
GO
ALTER TABLE [dbo].[DietPlan]  WITH CHECK ADD  CONSTRAINT [FK_DietPlan_UserInfo1] FOREIGN KEY([TrainerID])
REFERENCES [dbo].[UserInfo] ([ID])
GO
ALTER TABLE [dbo].[DietPlan] CHECK CONSTRAINT [FK_DietPlan_UserInfo1]
GO
ALTER TABLE [dbo].[TrainerUser]  WITH CHECK ADD  CONSTRAINT [FK_TrainerUser_DietPlan] FOREIGN KEY([DietID])
REFERENCES [dbo].[DietPlan] ([ID])
GO
ALTER TABLE [dbo].[TrainerUser] CHECK CONSTRAINT [FK_TrainerUser_DietPlan]
GO
ALTER TABLE [dbo].[TrainerUser]  WITH CHECK ADD  CONSTRAINT [FK_TrainerUser_Package] FOREIGN KEY([PackID])
REFERENCES [dbo].[Package] ([ID])
GO
ALTER TABLE [dbo].[TrainerUser] CHECK CONSTRAINT [FK_TrainerUser_Package]
GO
ALTER TABLE [dbo].[TrainerUser]  WITH CHECK ADD  CONSTRAINT [FK_TrainerUser_UserInfo] FOREIGN KEY([TrainerID])
REFERENCES [dbo].[UserInfo] ([ID])
GO
ALTER TABLE [dbo].[TrainerUser] CHECK CONSTRAINT [FK_TrainerUser_UserInfo]
GO
ALTER TABLE [dbo].[TrainerUser]  WITH CHECK ADD  CONSTRAINT [FK_TrainerUser_UserInfo1] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[UserInfo] ([ID])
GO
ALTER TABLE [dbo].[TrainerUser] CHECK CONSTRAINT [FK_TrainerUser_UserInfo1]
GO
ALTER TABLE [dbo].[TrainerUser]  WITH CHECK ADD  CONSTRAINT [FK_TrainerUser_WorkoutPlan] FOREIGN KEY([WorkOutID])
REFERENCES [dbo].[WorkoutPlan] ([ID])
GO
ALTER TABLE [dbo].[TrainerUser] CHECK CONSTRAINT [FK_TrainerUser_WorkoutPlan]
GO
ALTER TABLE [dbo].[UserPackage]  WITH CHECK ADD  CONSTRAINT [FK_UserPackage_Package] FOREIGN KEY([PackId])
REFERENCES [dbo].[Package] ([ID])
GO
ALTER TABLE [dbo].[UserPackage] CHECK CONSTRAINT [FK_UserPackage_Package]
GO
ALTER TABLE [dbo].[UserPackage]  WITH CHECK ADD  CONSTRAINT [FK_UserPackage_UserInfo] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([ID])
GO
ALTER TABLE [dbo].[UserPackage] CHECK CONSTRAINT [FK_UserPackage_UserInfo]
GO
